* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #fff;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;

  padding: 10px;
}

h1 {
    text-align: center;
}

fieldset {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow: scroll;
    padding-top: 5px;
}
.toDo{
    top: 0px;
    width: 500px;
    padding: 10px;
    background-color: rgb(237, 237, 237);
    border: 2px solid #e0dfdf;
    display: inline-block;
}

.btn {
    background-color: #1a3041; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
    /* float: right; */
}

.btn:hover {
    background-color: #2777b4;
}

.form {
    float: left;
}

label {
    font-style: italic;
} 

input {
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
}

.myList {
    width: 500px;
    text-align: center;

    /* background-color: rgb(237, 237, 237); */
}
ul {
    margin: 0;
    padding: 0;
}


ul li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-bottom: 1px #000 solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(4n + 4) {
    background-color: #fff;
}

ul li:hover {
   background-color: #2777b4;
}

ul li.check {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.check::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 500px;
    height: 100px;
    text-align: center;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
